body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #084784;
  color: #FFF;
}

a {
  display: inline-block;
  height: 100%;
  padding: 15px;
  color: #FFF;
  font-weight: bold;
}

a:hover {
  color: #ffe000;
  text-decoration: none;
}

.navbar {
  padding: 0 !important;
  margin: 0 !important;
  padding-left: 50px !important;
  height: auto;
  z-index: 200;
}

.nav {
  padding-left: 100px !important;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  padding-bottom: 73px;
  background-image: url("../img/jokerit.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-item {
  height: 60px;
  line-height: 30px;
  background-color: transparent;
}

.bg-nav {
  background-color: #e30613;
  position: relative;
  width: 100%;
  box-shadow: inset 0px -4px 0px 0px #fff, inset 0px 4px 0px 0px #fff;
  border-bottom: 5px solid #ffe000;
  border-top: 5px solid #ffe000;
}

.container-bg {
  background-image: url("../img/yleiso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.container-fluid {
  /* padding: 20px 50px 120px 50px;
  position: relative; */
  padding: 0 !important;
  position: relative;
}

.wrap {
  position: relative;
  max-width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  background-color: #084784;
  text-align: center;
}

.wrap p {
  padding-top: 50px;
}

.banner {
  font-family: 'Kalam', cursive;
  font-weight: 700;
  letter-spacing: -7px;
  text-align: center;
  position: inherit;
}

.banner:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0;
  z-index: 0;
  height: 100%;
  background-color: rgba(000,000,000, 0.08);
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw) );
}

.banner h1 {
  padding: 10px;
  font-size: 5.5rem !important;
  display: inline-block;
  background: -webkit-linear-gradient(left, #e30613  , #ffe000);
  background: -o-linear-gradient(right, #e30613 , #ffe000);
  background: -moz-linear-gradient(right, #e30613 , #ffe000);
  background: linear-gradient(to right, #e30613 , #ffe000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subhead {
  display: block;
  position: relative;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

.subhead:after {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 650px;
  content: '';
  background-color: #ffe000;
}

@media screen and (max-width: 650px) {
  .subhead:after {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 550px) {
  nav.navbar {
    padding-left: 2px !important;
  }
  li.nav-item > a {
    padding: 15px 5px;
  }
}

@media screen and (max-width: 690px) {
  .item li:after {
    display: none !important;
  }
  .item:after, .item li:before {
    right: 30px !important;
  }
  .item {
    border-radius: 3px !important;
  }
}


.body-ul {
  padding-top: 20px;
}

.body-ul ul {
  padding-left: 0 !important;
}

.body-item {
  text-align: center;
}

.item {
  position: relative;
  border-radius: 3px 0 0 3px;
  background-color: #ffe000;
  color: #084784;
  margin-top: 8px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}


.item:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #084784;
  width: 20px;
  height: 33%;
  bottom: 0;
  right: 10px;
  transform: skew(-45deg);
  /* border-top: 0px solid transparent; */
  /* border-bottom: 43px solid transparent; */
  /* border-right: 0px solid #084784; */
  /* border-left: 21px solid #084784; */

}

.item li:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #084784;
  width: 20px;
  height: 67%;
  top: 0;
  transform: skew(206deg);
  right: 10px;
  z-index: 200;
  /* border-top: 0px solid transparent; */
  /* border-bottom: 0px solid transparent; */
  /* border-left: 22px solid #084784; */
  /* border-right: 0px solid #084784; */
}

.item li:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 0;
  right: -20px;
  border-top: 41px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffe000;

}

.body-item h4 {
  border-bottom: 2px solid rgba(000,000,000, 0.2);
  padding-bottom: 8px;
  font-weight: bold;
}

.body-item h4:last-of-type {
  border: none;
}

.body-item li {
  padding-top: 8px;
}

.body-ul li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: flex-end;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.add {
  background-color: #e30613;
  color: #ffe000;
  display: block;
  width: auto;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 10px rgba(000,000,000,0.4);
  -moz-box-shadow: 2px 2px 10px rgba(000,000,000,0.4);
  box-shadow: 2px 2px 10px rgba(000,000,000,0.4);
  transition: ease 0.3s all;
  position: relative;
}

.add:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 4px;
  right: 10px;
  transform: skew(-18deg);
  height: 100%;
  background-color: #084784;
  box-shadow: 2px 1px 3px rgba(000,000,000,0.3);
}

.add a {
  color: #ffe000;
  transition: ease 0.3s all;
  padding: 8px 30px;
}
.add a:hover {
  color: #e30613;
}

.add:hover {
  background-color: #ffe000;
  color: #e30613;
}

.body-ul form {
  max-width: 650px;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.body-ul form button {
  all: unset;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 30px;
}

.form-in {
  border-radius: 4px;
  padding: 8px;
  background-color: beige;
}

label {
  display: grid;
}

h3 {
  margin: 0 !important;
  padding: 4px 0 15px 0;
}

footer {
  background-color: #084784;
  border-top: 1px solid rgba(000,000,000, 0.3);
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  padding: 20px 0px 20px 20px;
}

footer .row {
  margin: 0 !important;
}