extends layout

block content
  .subhead
    h2= 'Add new placement:'

  .body-ul
    form(action="", method="post")
      label Year
        input.form-in(name="year", required)
      label Placement
        input.form-in(name="team", required)
      .add
        button Add

